*.tsv filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.en filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
/hugg_preprocessed/dataset_en filter=lfs diff=lfs merge=lfs -text
/hugg_preprocessed/dataset_fa filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/hugg_preprocessed/vocab_en filter=lfs diff=lfs merge=lfs -text
/hugg_preprocessed/vocab_fa filter=lfs diff=lfs merge=lfs -text
/wiki_preprocessed/dataset_en filter=lfs diff=lfs merge=lfs -text
/wiki_preprocessed/dataset_fa filter=lfs diff=lfs merge=lfs -text
/wiki_preprocessed/vocab_en filter=lfs diff=lfs merge=lfs -text
/wiki_preprocessed/vocab_fa filter=lfs diff=lfs merge=lfs -text
